@layer components {
  .depth-estimation { font-size: 11px; color: var(--text-secondary); }
  .depth-estimation canvas { display: none; max-width: calc(100% - 20px); max-height: 360px; margin: 10px auto; object-fit: fill; }
  .depth-estimation canvas.depth-map-visible { display: block; }
  .depth-estimation progress { width: calc(100% - 20px); margin: 5px 10px; }
}
